//BACKGROUND COLORS
$background-color-jumbo-nav: #020331;
$button-nav-main-color-accent: #0a91c1;
$red-rose-nav-color-button: #df4a6d;
//TEXT COLOR
$text-color-primary: #ffffff;
$text-color-secondary: #03A7D3E6;
//MIXIN
